/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  background-image: url('/hw4-2021-main/images/pigeon-background.JPEG');
  background-color: #DDDDDD;
  background-size: cover;
  background-position: center;
  font-family: "Andika", sans-serif;

  /*Req 1*/
}

h1{
  color: #c12258;
  font-size: 2em;
  line-height: 2em;

  /*Req 2*/
}

p{
  padding: 15px 0px 0px 0px;
}

a{
  /*Req 4*/
  font-size: 16px;
  color: #C12258;
  text-decoration-style: wavy;
}

/*Req 5*/
/*Add selector and rule here*/
*:focus{
  border-style: dashed;
  border-color: #417243;
}

/*Req 6a*/
td{
  text-align: center;
  border-top: 2px solid #000000;
  padding: 10px;
}

/*Req 6b*/
.colhead{
  color: #FFFFFF;
  min-width: 125px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  background-color: #7e0820;
  text-transform: uppercase;

}
/*Req 6c*/
.rowhead{
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
}

/*Req 6d*/
tr:nth-child(odd) {
  background-color: #FFFFFF00;
}
/*Req 6e*/
tr:nth-child(even) {
  background-color: #D1D1D1;
}
/*Req 6f*/
tr:hover{
  background-color: rgba(126, 8, 32, 0.25);
}

/*Req 7*/
table{
    border: 2px solid #000000;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
}

thead tr:first-child th:first-child{
  border-radius: 10px 0px 0px 0px;
}

tbody tr:first-child th:last-child{
  border-radius: 10px 10px 10px 10px;
}


/*Add selectors and rules here*/


/*Req 8*/
footer{
  min-height: 75px;
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
}

